{% if is_user_authenticated == True %}
	<h1>Change Password Successful!</h1>
	<p>Your password has been changed</p>
{% else %}
	<h1>Change Password Denied!</h1>
	<p>Login failed. Try again</p>
{% endif %}
